* {box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

body {
  background-image: url(/imagesWebsite/estrellas.jpg);
  color: white;
  background-size: cover;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 55px;
  margin-left: 200px;
  }

button {
  color: white;
}
