* {box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

body {
  background-image: url(/imagesWebsite/estrellas.jpg);
  color: red;
  background-size: cover;
}

.container {
  padding: 16px;
}

form {
  max-width: 700px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

a {
  color: rgb(159, 184, 209);
}


.signin {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 0.5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;;
  text-align: center;
}
.check1{

  width: 5%;
  padding: 0px;
  margin: 0px 0 0px 0;
  display: flex;
  border: none;


}

.check2{
  color: rgb(159, 184, 209);
  width: 30%;
  padding: 0px;
  margin-bottom: 13px;
  display: flex;
  border: none;


}


#ch1{
  background-color: red;

  margin-left: 0px;
  padding-left: 0px;
}
.check10{
  display: flex;
  box-sizing: border-box;
    /* background: red; */
}
